body {
    background-color: #474787 !important;
    color: #f7f1e3 !important;
    font-family: 'Work Sans', sans-serif !important;
}
header {
    margin: 2em;
    max-width: fit-content;
    font-family: 'Abril Fatface', cursive;
}
header h1 {
    color: #f7f1e3;
    font-size: 3rem;
}
hr {
    background-color: #f7f1e3 !important;
    margin: 2em 2em !important;
}
/* main section */
input {
    color: #f7f1e3 !important;
}
textarea {
    color: #f7f1e3 !important;
}
button {
    background-color: #f7f1e3 !important;
    color: #474787 !important;
}
.title {
    background-color: #2c2c54;
    max-width: fit-content;
}
label {
    background-color: #2c2c54;
    max-width: fit-content;
}
.data {
    background-color: #2c2c54;
    max-width: fit-content;
}